@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;500;700&display=swap');
@import url("bootstrap.css");
:root {
    --main : #3267E3;
    --light : #ECF8FF;
    --menu : #F0F3FF;
    --text : #006EEE;
}
body {
    font-family: 'Roboto', sans-serif;
}
.card {
    border: none;
}
.smaller {
    font-size: 0.625em;
}
.pop {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.bgmain {
    background-color: var(--main);
}
.txtmain {
    color: var(--main);
}
.txtmenu {
    color: var(--text);
}
.hmax {
    height: 896px;
}
.wmax {
    width: 414px;
}
.mtmenu {
    margin-top: 4px;
    height: 856px;
    padding-bottom: 76px;
}
.bglight {
    background-color: var(--light);
}
.bgmenu {
    background-color: var(--menu);
}
.icon {
    background-color: #D1E2FD;
}
.search :hover{
    cursor: pointer;
}
.search:focus-within {
    width: 261px;
}
.search:focus-within {
    background-color: white !important;
}
.search:focus-within div {
        background-color: transparent !important;
}
.like {
    cursor: pointer;
}
.like:active {
    fill: var(--main);
    stroke-opacity: 0;
}
.height {
    height: 100px;
}